.turing-feedback-wrap {
    margin: auto;
    padding: 20px;
    max-width: 640px;
}

.turing-feedback-header {
    margin:  20px auto;
}

.form-button-turing-feedback {
    width: 100%;
}

.turing-feedback-intro {
    display: flex;
    justify-content:space-between ;
}